body {
	background-color: #738494;
}

/* button styling: get rid of all built-in button graphics and add some stuff to our buttons  */

button {
	background: none;
	border: none;
	margin: 0rem 1rem;
	padding: 0;
	cursor: pointer;
}

button:focus {
	outline: 0;
}


/*********/
/* Title */
/*********/

#title {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 4.4rem;
	font-weight: 400;
	color: white;
	margin-top: 2.5rem;
	margin-bottom: 2.2rem;
}

/*********************/
/* Appliance buttons */
/*********************/

.row1 {
	text-align: center;
	vertical-align: top;
	margin-top: 0.2rem;
}

.row2 {
	text-align: center;
	margin-top: 2.8rem;
}

.app_pic {
	width: 21rem;
	height: 13.75rem;
}

.app_prompt {
	display: none;
	background: lightgrey;
	vertical-align: top;
	width: 21rem;
	height: 13.75rem;
	margin: 0rem 1rem;
}


/**************************************************/
/* Bottom row containing Arrow and 'START LOGGING'*/
/**************************************************/

.bottomrow {
	margin-top: 3em;
	margin-bottom: 1em;

}

#arrow {
	width: 4.5em;
	margin-left: 1em;
	padding-left: 1.25em;
}

#nextpage {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: right; 
	font-size: 1.5em;
	float: right;
	padding: 0.25em;
	border-color: white;
}