body{
	background-color: lightgrey;
	font-family: 'Montserrat', sans-serif;
}

h1, p {
	margin: 0;
}

button {
	outline: 0;
    cursor: pointer;
}

button:hover{
	opacity: 0.85;
}

/*Text Elements*/
#title {
	text-align: center;
	font-size: 4.8rem;
	font-weight: 400;
	color: #1c1f47;
	margin-top: .1em;
	margin-bottom: .4em;
}

/*Calendar and Appliances box properties*/
#info_box_container{
	text-align: center;
	margin-bottom: 2.5em; 
}

.info_box{
	display: inline-block;
	border: 5px solid black; /*placeholder until we have elements sorted*/
	margin: 5px auto;
}

#calendar{
	margin: auto;
	width: 22em;
	height: 15em;
}

#appliances_graphs{
	margin: auto;
	width: 22em;
	height: 15em;
	margin-right: 3.5em;
	vertical-align: top;
}

/*Graph Properties*/
#monthly_graph{
	margin: 0 auto;
	text-align: center;
}

#graph_container{
	text-align: center;
}

#graphs{
	display: block;
	margin: 0 auto;
	height: 25em;
	padding: 0;
	box-shadow: 20 2px 40px black;
}

#graph_img{
	display: block;		
	margin: 0 auto;
	height: 25em;
	width: 45em;
}


.time_frame {
	background-color: #9a9fa8;
	display: inline-block;
	width: 22em;
	height: 3em;
	margin: 2em 0.1em 0.1em;
	border: none;
    box-shadow: 0 0 0.1em #888888;
}

/*Bottom Row*/
#bottomrow{
	margin-top: 4em;
	margin-right: 0.5em;
	margin-bottom: 1em;
}

#nextpage {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: right; 
	font-size: 1.5em;
	float: right;
	background-color: #3e3f52;
	padding: 0.25em;
	border-color: white;
	margin-top: 2em;
	margin-right: 1em;
}

#arrow {
	float: left;
	font-size: 1.5em; 	
	margin-top: 2em;
	margin-left: 1em;
}



/*online*/
